
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Yeseva+One&display=swap');
/* default */

.container{
    max-width: 1200px;
    margin: auto;
}

.flex-container-2{
    flex:50%;
}

.flex-container-3{
    flex: calc(100%/3);
}
/* *********************** */

/* top section */
.top{
    display: flex;
    justify-content: center;
}

.top-info h1{
font-size: 60px;
font-family:'Yeseva One', cursive;;
}

span{
    color: #FFAD5A;
}
.top-info p{
    font-size: 18px;
    color: #3E3E3E;
    margin:0 0 40px;
    padding-right: 180px;
    text-align: justify;
    font-family: 'Poppins',sans-serif;
}
.top-info a{
    color: #fff;
    background-color: #FF5959;
    padding: 14px 43px;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;

}

#scroll{
    margin-top: 40px;
    font-size: 14px;
}
.top-img{
    position: relative;
}
.top-img img{
    height: 623px;
    width: 426px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ************************** */