
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Yeseva+One&display=swap');
/* default */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1100px;
    margin: auto;
}

.flex-container-2{
    width:50%;
}


/* *********************** */


/* top section */
.top-section{
    margin-bottom: 100px;
}
.top{
    display: flex;
    justify-content: center;
}
.top-info{
    position: relative;
}
.left-border{
    position: absolute;
top: 16px;
left: -9px;
display: block;
height: 117px;
width: 4px;
background-color: #FF5959;
}
.top-info h1{
font-size: 60px;
font-family:'Yeseva One', cursive;
}

span{
    color: #FFAD5A;
}
.top-info p{
    font-size: 18px;
    color: #3E3E3E;
    margin:0 0 40px;
    padding-right: 180px;
    text-align: justify;
    font-family: 'Poppins',sans-serif;
}
.top-info a{
    color: #fff;
    background-color: #FF5959;
    padding: 14px 43px;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;

}

#scroll{
    margin-top: 40px;
    font-size: 14px;
}
.top-img{
    position: relative;
}
.top-img img{
    height: 623px;
    width: 426px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ************************** */

/* Mission Section */
.mission-section h1{
     text-align: center;
     font-size: 48px;
     font-family:'Poppins',sans-serif;
}

.mission-section h1 span{
    color: #FFAD5A;
}
.mission{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:'Poppins',sans-serif ;
    
    
}
.mission-info{
    background-color: gray;
    margin-left: 5px;
    width: 32%;
    border-radius: 25px;
}

.mission-info img{
    height: 141px;
    width: 141px;
}
.mission-info h3{
    font-size: 24 px;
    font-weight: 600;
    padding-left: 15px;
    margin-top: 10px;
}
.mission-info p{
    font-size: 16px;
    padding: 30px 30px 30px 15px;
    
}
#mission{
    background-color: #4f9da631;
}

#vision{
    background-color: #ff59593b;
}
#goal{
    background-color: #fff4d6;
}
/* ***************************** */